
 <div align="left">
    <h2 align="center" style="color:blue;">Customer</h2>
</div>


<div class="customer">

<ul class="nav nav-tabs flex-column">

   
    <li class="nav-item">
        <a class="nav-link"  routerLink ='/delivery'>New Order</a>
    </li>
    <li class="nav-item"><a class="nav-link"  routerLink ='/customerprofile'>Profile</a></li>
    
    <li class="nav-item"><a class="nav-link"  routerLink ='/feedback'>Feedback</a></li>
    <li class="nav-item"><a class="nav-link"  routerLink ='/home'>Back to Home Page</a></li>
</ul>
</div>


