<h1 align="center">Staff List</h1>
    <div align="center">
        <table class="table table-striped table-bordered">
            <tr>
                <th>Staff Id</th>
                <th>Name</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Action</th>
            </tr>
            <tr *ngFor="let staff of allstaff;">
                <td>{{staff.staffId}}</td>
                <td>{{staff.staffName}}</td>
                <td>{{staff.staffPhone}}</td>
                <td>{{staff.staffEmail}}</td>
                <td>
                    <button (click)="updateStaff(staff)" style="margin-left: 10px;" class="btn btn-warning btn-sm">Update</button>
                    <button (click)="deleteStaff(staff)" style="margin-left: 10px;" class="btn btn-danger btn-sm">Delete</button>
    
                </td>
                
            </tr>
        </table>
       
       <br>
       <br>
       <a class="btn btn-success" routerLink ='/editstaff'>Add Staff</a>

       
        


    </div>