
<h1 style="color: red;" align="center">Profile</h1>
<div align="center">
    <br>
    <label for=""> <b>Id </b>&nbsp;</label>
    <input [(ngModel)]="id" type="number">
    <button (click)='getProfile()' >Search</button>
    <br>
    <br>
    <div class="col-md-6">
    <table class="table table-striped table-bordered">
        <tr class="table table-info">

            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
           
        </tr>
        <tr class="table table-danger">
          
            <td class="text-primary">{{profile['customerName']}}</td>
            <td class="text-primary">{{profile['customerEmail']}}</td>
            <td class="text-primary">{{profile['customerPhone']}}</td>
          


           
            
        </tr>
    </table>
</div>
   
   

   
    


</div>


