


<div class="card">
    <div class="card-header">
        <h4 align="center" style="color: red;">Customer List</h4>
     
    </div>
    <div class="card-body">
      <table class="table table-striped table-bordered table-hover">
        <thead>
          <tr class ="table table-primary">
            <th>No</th>
            <th>customerId</th>
            <th>customerName</th>
            <th>customerEmail</th>
            <th>Phone Number</th>
           
          
           
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let customer of customers; let index = index">
            <td>{{index + 1}}</td>
            <td>{{customer['customerId']}}</td>
            <td>{{customer['customerName']}}</td>
            <td>{{customer['customerEmail']}}</td>
            <td>{{customer['customerPhone']}}</td>
           
            
            
          </tr>
        </tbody>
      </table>
    </div>
  </div>

