<div class="about-section">
    <h1>About Us </h1>
    <p>We are Pune Based Courier Service </p>
   
  </div>
  
  <h2 style="text-align:center">Our Team</h2>
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="/assets/36085.jpg" alt="Rajat" style="width:100%;height: 400px;">
        <div class="container" style="background-color: palevioletred;">
          <h2>Rajat Patil</h2>
          <p class="title">CEO & Founder</p>
          <p>Rajat Patil is CEO of Pune Courier Service Company</p>
          
         
          
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="/assets/35998.jpg" alt="Aniruddha" style="width:100%;height: 400px;">
        <div class="container" style="background-color: palevioletred;">
          <h2>Aniruddha Kulkarni</h2>
          <p class="title"> Director</p>
          <p>Aniruddha Kulkarni is Engineer who is passed out from VIT college in  2019.</p>
          
          
         
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <img src="/assets/36601.jpg" alt="Harshal" style="width:100%;height: 400px;">
        <div class="container" style="background-color: palevioletred;">
          <h2>Harshal Patil</h2>
          <p class="title"> Designer</p>
          <p>Harshal Patil is Designer</p>
          
          
         
        </div>
      </div>
    </div>


    <div class="column">
      <div class="card">
       
        <div class="container" style="background-color: palevioletred;">
          
         
          
          
         
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="/assets/36140.jpg" alt="Dhiraj" style="width:100%;height: 400px;">
        <div class="container" style="background-color:palevioletred;">
          <h2>Dhiraj Nikam</h2>
          <p class="title">Designer</p>
          <p>Dhiraj Nikam is working as Designer</p>
         
         
         
         
        </div>
      </div>
    </div>
  </div>
