


<div class="card">
    <div class="card-header">
        <h4 align="center" style="color: red;">Feedback List</h4>
     
    </div>
    <div class="card-body">
      <table class="table table-striped table-bordered table-hover">
        <thead>
          <tr class="table table-primary" >
            <th>No</th>
            <th>customerId</th>
            <th>customerName</th>
            <th>customerEmail</th>
            <th>comment</th>
            <th>status</th>
            <th>Action</th>
           
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let feedback of feedbacks; let index = index">
            <td>{{index + 1}}</td>
            <td>{{feedback['customerId']}}</td>
            <td>{{feedback['customerName']}}</td>
            <td>{{feedback['customerEmail']}}</td>
            <td>{{feedback['comment']}}</td>
            <td>{{feedback['status']}}</td>
            <td>
                <button (click)="updateStatus(feedback)" style="margin-left: 10px;" class="btn btn-warning btn-sm"> Update Status</button>
                <button (click)="deleteFeedback(feedback)" style="margin-left: 10px;" class="btn btn-danger btn-sm">Delete</button>

            </td>
            
          </tr>
        </tbody>
      </table>
    </div>
  </div>
