<h1 align="center" style="color: plum;">Contact </h1>

<div class="col-md-6">
<table class="table table-bordered table-striped table-hover" align="center">
    <tr class="table table-info">
        <th>Name </th>
        <th>Email</th>
        <th>Phone Number</th>
        <th>Send Email</th>

    </tr>
    <tr>
        <td>Rajat Patil</td>
        <td>rajatpatil987@gmail.com</td>
        <td>7020803702</td>
        <td> <button class="btn btn-success"><a href="mailto:aniruddhakulkarni191@gmail.com"> Send Email </a></button></td>

    </tr>
    <tr>
        <td>Aniruddha Kulkarni</td>
        <td>aniruddhakulkarni191@gmail.com</td>
        <td>9075840134</td>
        <td> <button class="btn btn-success"><a href="mailto:aniruddhakulkarni191@gmail.com"> Send Email </a></button></td>

    </tr>
    <tr>
        <td>Dhiraj Nikam</td>
        <td>dhirajnikam@gmail.com</td>
        <td>9158629829</td>
        <td> <button class="btn btn-success"><a href="mailto:aniruddhakulkarni191@gmail.com"> Send Email </a></button></td>

    </tr>
    <tr>
        <td>Harshal Patil Nikam</td>
        <td>harshpatil@gmail.com</td>
        <td>9158629829</td>
        <td> <button class="btn btn-success"><a href="mailto:aniruddhakulkarni191@gmail.com"> Send Email </a></button></td>

    </tr>

</table>
</div>

