<h1 align="center" style="color: red;">Register</h1>

<div class="form col-md-4"> 
    
    <div class="form-group">
      <label for="">Email</label>
      <input [(ngModel)]="email" type="email" class="form-control" placeholder="Enter your Email">
    </div>
    <div class="form-group">
      <label for="">Password</label>
      <input [(ngModel)]="password" type="password" class="form-control" placeholder="Enter your Password">
    </div>
    <div class="form-group">
        <label for="">Name</label>
        <input [(ngModel)]="name" type="text" class="form-control" placeholder="Enter your Name">
      </div>
      
      <div class="form-group">
        <label for="">Phone Number</label>
        <input [(ngModel)]="phone" type="text" class="form-control" placeholder="Enter your Phone Number">
      </div>

    <div class="form-group">
      <button (click)="register()" class="btn btn-success">Register</button>
      <a routerLink='/login' class="btn btn-warning float-right">Login</a>
    </div>
  </div>

    

