<div class="card">
    <div class="card-header">
        <h4>{{product ? 'Update' : 'Add'}} Product</h4>
    </div>
    <div class="card-body">
      <div class="form">
  
     
            <div class="form-group">
              <label for="">Name</label>
              <input [(ngModel)]="name" type="text" class="form-control">
            </div>
          
            <div class="form-group">
                <label for="">Rate</label>
                <input [(ngModel)]="rate" type="number" class="form-control">
              </div>
        
  
            <div class="form-group">
                <button (click)="onUpdate()" class="btn btn-success">{{product ? 'Update' : 'Add'}}</button>
                <a style="margin-left: 10px;" routerLink="/stafflist" class="btn btn-danger">Cancel</a>
            </div>
  
      </div>
    </div>
  </div>