.col-md-8{
    border:solid 2px;
    margin: 10px;
    padding: 5px;
    
    background-color: paleturquoise;
  padding: 25px;
  
}
body{
    background-color: burlywood;
}
.form{
    border-radius: 10px;
}