<h1 align="center" style="color:saddlebrown; font-family: Arial, Helvetica, sans-serif;">New Order</h1>
<div class="row">
  <div class="col-md-2"> </div>
<div class="form col-md-8"> 
    
    <div class="form-group">
      <label for="">Customer Id</label>
      <input [(ngModel)]="cid" type="number" class="form-control">
    </div>
    <div class="form-group">
        <label for="">Product Id</label>
        <input [(ngModel)]="pid" type="number" class="form-control">
      </div>
      
      <div class="form-group">
        <label for="">Orderdate</label>
        <input [(ngModel)]="Orderdate" type="date" class="form-control">
      </div>



      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="">Pickup Name</label>
            <input [(ngModel)]="pickupname" type="text" class="form-control">
          </div>
          <div class="form-group">
            <label for="">Pickup Address</label>
            <input [(ngModel)]="pickupaddress" type="text" class="form-control">
          </div>
          <div class="form-group">
            <label for="">Pickup City</label>
            <input [(ngModel)]="pickupcity" type="text" class="form-control">
          </div>
          <div class="form-group">
            <label for="">Pickup Pin</label>
            <input [(ngModel)]="pickuppin" type="text" class="form-control">
          </div>
          <div class="form-group">
            <label for="">Pickup Phone</label>
            <input [(ngModel)]="pickupphone" type="text" class="form-control">
          </div>
        </div>
  
  
        
        <div class="col-md-6">
          <div class="form-group">
            <label for="">Delivery Name</label>
            <input [(ngModel)]="deliveryname" type="text" class="form-control">
          </div>
          <div class="form-group">
            <label for="">Delivery Address</label>
            <input [(ngModel)]="deliveryaddress" type="text" class="form-control">
          </div>
          <div class="form-group">
            <label for="">Delivery City</label>
            <input [(ngModel)]="deliverycity" type="text" class="form-control">
          </div>
          <div class="form-group">
            <label for="">Delivery Pin</label>
            <input [(ngModel)]="deliverypin" type="text" class="form-control">
          </div>
          <div class="form-group">
            <label for="">Delivery Phone</label>
            <input [(ngModel)]="deliveryphone" type="text" class="form-control">
          </div>
          
        </div>
      </div>
   

    <div class="form-group">
      <button (click)="giveOrder()" class="btn btn-success">Place Order</button>
    
    </div>
  </div>
  </div>
    


