<h1 align="center" style="color: red;">Feedback</h1>
<div class="form col-md-4"> 
    

    <div class="form-group">
      <label for="">CustomerId</label>
      <input [(ngModel)]="cid" type="number" class="form-control">
    </div>
    
    
   
    <div class="form-group">
        <label for="">Name</label>
        <input [(ngModel)]="name" type="text" class="form-control" placeholder="Enter your Name">
      </div>
      <div class="form-group">
        <label for="">Email</label>
        <input [(ngModel)]="email" type="email" class="form-control" placeholder="Enter your Email">
      </div>
      <div class="form-group">
        <label for="">Comment</label>
        <input [(ngModel)]="comment" type="text" class="form-control" placeholder="Give your Comment">
      </div>
      <div class="form-group">
        <label for="">Status</label>
        <input [(ngModel)]="status" type="text" class="form-control" placeholder="Status">
      </div>
      
    

    <div class="form-group">
      <button (click)="addFeedback()" class="btn btn-success">Submit Feedback</button>
    </div>
  </div>
    



