<div class="card">
    <div class="card-header">
        <h4 align="center" style="color: red;">Pending Orders List</h4>
     
    </div>
    <div class="card-body">
      <table class="table table-striped table-bordered">
        <thead>
          <tr class="table table-primary">
            <th>No</th>
            <th>orderId</th>
            <th>customerId</th>
            <th>ProductId</th>
            <th>StaffId</th>
            <th>Pickup Name</th>
            <th>Pickup Address</th>
            <th>Pickup phone</th>
            <th>Delivery Name</th>
            <th>Delivery Address</th>
            <th>Delivery phone</th>
          
          
           

        
           
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let order of orders; let index = index">
            <td>{{index + 1}}</td>
            <td>{{order['orderId']}}</td>
            <td>{{order['customerId']}}</td>
            <td>{{order['productId']}}</td>
            <td>{{ order['StaffId']}}</td>
            <td>{{ order['pickupName']}}</td>
            <td>{{ order['pickupAddress']}}</td>
            <td>{{ order['pickupPhone']}}</td>
            <td>{{ order['deliveryName']}}</td>
            <td>{{ order['deliveryAddress']}}</td>
            <td>{{ order['deliveryPhone']}}</td>
            
           
            
          </tr>

          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
              <td></td>
              <td></td>
              <td class="table table-danger"><b>Total number of Pending Orders </b></td>
              <td class="table table-success">{{count}}</td>

          </tr>
        </tbody>
      </table>
    </div>
  </div>


