<div class="card">
    <div class="card-header">
        <h4 align="center" style="color: red;">Order List</h4>
     
    </div>
    <div class="card-body">
      <table class="table table-striped table-bordered table-hover">
        <thead>
          <tr class="table table-primary">
            <th>No</th>
            <th>orderId</th>
            <th>customerId</th>
            <th>ProductId</th>
            <th>Order Status</th>
            <th>Actions</th>

        
           
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let order of orders; let index = index">
            <td>{{index + 1}}</td>
            <td>{{order['orderId']}}</td>
            <td>{{order['customerId']}}</td>
            <td>{{order['productId']}}</td>
            <td>{{order['orderStatus']}}</td>
            <td>
              <button (click)="updateOrderStatus(order)" style="margin-left: 10px;" class="btn btn-warning btn-sm">Update Status</button>
                <button  (click)="deleteOrder(order)" style="margin-left: 10px;" class="btn btn-danger btn-sm">Delete</button>
            </td>
            
          </tr>
        </tbody>
      </table>
    </div>
  </div>
