<div class="card">
    <div class="card-header">
        <h4>{{staff ? 'Update' : 'Add'}} Staff</h4>
    </div>
    <div class="card-body">
      <div class="form">
  
     
            <div class="form-group">
              <label for="">Name</label>
              <input [(ngModel)]="name" type="text" class="form-control">
            </div>
          
            <div class="form-group">
                <label for="">Password</label>
                <input [(ngModel)]="password" type="text" class="form-control">
              </div>
        
            <div class="form-group">
              <label for="">Phone</label>
              <input [(ngModel)]="phone" type="text" class="form-control">
            </div>
            
            <div class="form-group">
                <label for="">Email</label>
                <input [(ngModel)]="email" type="text" class="form-control">
            </div>
  
            <div class="form-group">
                <button (click)="onUpdate()" class="btn btn-success">{{staff ? 'Update' : 'Add'}}</button>
                <a style="margin-left: 10px;" routerLink="/stafflist" class="btn btn-danger">Cancel</a>
            </div>
  
      </div>
    </div>
  </div>