
 <div align="left">
    <h2 align="center" style="color:blue;">Staff</h2>
</div>


<div class="staff">

<ul class="nav nav-tabs flex-column">
   
    <li class="nav-item"><a class="nav-link"  routerLink='/profile'>Profile</a></li>
    <li class="nav-item"><a class="nav-link" routerLink ='/customerlist' >List of Customers</a></li>
    <li class="nav-item"><a class="nav-link" routerLink ='/trackorder' >Track Order</a></li>
    <li class="nav-item"><a class="nav-link" routerLink ='/orderlist' >Order List</a></li>
     <li class="nav-item"><a class="nav-link" routerLink ='/staffemail' >Email</a></li>
    <li class="nav-item"><a class="nav-link" routerLink ='/feedbacklist'>Feedback List</a></li>
    <li class="nav-item"><a class="nav-link" routerLink ='/home'>Back to Home Page</a></li>
   
</ul>
</div>




