
<h1 style="color: red;" align="center">Profile</h1>
<div align="center">
    <br>
    <label for=""><b>Id</b> &nbsp;</label>
    <input [(ngModel)]="id" type="number">
    <button (click)='getProfile()' >Search</button>
    <br>
    <br>
    <div class="col-md-6">
    <table class ="table table-bordered">
        <tr class="table table-primary">

            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
           
        </tr>
        <tr class="table table-danger">
          
            <td>{{profile['staffName']}}</td>
            <td>{{profile['staffEmail']}}</td>
            <td>{{profile['staffPhone']}}</td>
          


           
            
        </tr>
    </table>
</div>
   
   

   
    


</div>

