<h1 align="center" style="color: red;">Email </h1>
<div class="form col-md-4"> 
   
    <div class="form-group">
      <label for="">Email</label>
      <input [(ngModel)]="email" type="email" class="form-control">
    </div>
    
    <div class="form-group">
        <label for="">Name</label>
        <input [(ngModel)]="name" type="text" class="form-control">
      </div>
      
     

    <div class="form-group">
      <button (click)="sendMail()" class="btn btn-success">Send Email</button>
    </div>
  </div>
    
