
<h1 style="color: blue;" align="center">TRACK ORDER</h1>

    <div align="center">
        <br>
        <label for=""><b>Ref. No. </b> &nbsp;</label>
        <input [(ngModel)]="id" type="number">
        <button  (click)='trackorder()' >Search</button>
        <br>
        <br>
        <div class="col-md-6">
        <table class ="table  table-bordered table-hover ">
            <tr class="table table-info">
                <th>Ref. No.</th>
                <th>Content</th>
                <th>Delivery Date</th>
                <th>Customer Name</th>
                <th>Customer Contact</th>
                <th>Delivery Status</th>
            </tr>
            <tr class="table table-danger">
                <td>{{order.orderId}}</td>
                <td>{{order.productId}}</td>
                <td>{{order.deliveryDate}}</td>
                <td>{{order.pickupName}}</td>
                <td>{{order.pickupPhone}}</td>
                <td>{{order.orderStatus}}</td>
                
            </tr>
        </table>
    </div>
       
       

       
        


    </div>

