<div align="left">
    <h2 align="center" style="color: blue;">Admin Panel</h2>
</div>
<div class="admin">
<ul class="nav flex-column">
    <li class="nav-item"><a class="nav-link" routerLink ='/stafflist'>Staff List</a></li>
    <li class="nav-item"><a class="nav-link" routerLink ='/productlist'>Product List</a></li>
    <li class="nav-item"><a class="nav-link" routerLink ='/completedorders'>Completed Orders</a></li>
    <li class="nav-item"><a class="nav-link" routerLink ='/pendingorders'>Pending Orders</a></li>

    <li class="nav-item"><a class="nav-link" routerLink ='/home'>Back to Home Page</a></li>
</ul>
</div>