.form{
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top:0;
    bottom: 0;
    border: solid;
    height: 300px;
    background-image: radial-gradient(blue,cadetblue,goldenrod,pink);

}