<div class="form col-md-4">
    <h1 align="center" style="color: red;">Login</h1>
    <div class="form-group">
      <label for="">Email</label>
      <input [(ngModel)]="email" type="email" class="form-control"  placeholder="Enter your Email">
    </div>
    <div class="form-group">
      <label for="">Password</label>
      <input [(ngModel)]="password" type="password" class="form-control"  placeholder="Enter your Password">
    </div>
    <div class="form-group">
      <button (click)='login()' class="btn btn-success">Login</button>
      <a routerLink='/register' class="btn btn-warning float-right">Signup</a>
    </div>
  </div>
    
