
<nav class="navbar navbar-expand-lg navbar-dark bg-danger">
  <a class="navbar-brand" href="#">Pune Courier Service</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class = "nav-link" routerLink="/home">Home</a>
      </li>
      <li class="nav-item active">
        <a class = "nav-link" routerLink="/aboutus">About us</a>
      </li>
      <li class="nav-item active">
        <a class = "nav-link" routerLink="/contact">Contact us</a>
      </li>
      <li class="nav-item active">
        <a class = "nav-link" routerLink="/delivery">New Delivery</a>
      </li>
      <li class="nav-item active">
        <a class = "nav-link" routerLink="/trackorder">Track Order</a>
      </li>
      <li class="nav-item active">
        <a class = "nav-link" routerLink="/customer">Customer</a>
      </li>
      <li class="nav-item active">
        <a class = "nav-link" routerLink="/admin">Admin</a>
      </li>
      <li class="nav-item active">
        <a class = "nav-link" routerLink="/staff">Staff</a>
      </li>
      
      <li class="nav-item active"><a class = "nav-link" (click)="changeBackGroundColor()">Change Settings</a></li>
      <li class="nav-item active">
        <a style="color: blue;"  class = "nav-link" routerLink="/login">Login</a>
      </li>
    </ul>


    <form class="form-inline my-2 my-lg-0">
     

      <button (click)="logout()" class="btn btn-success my-2 my-sm-0">Log Out</button>
     
    </form>


  
  </div>
</nav>

<router-outlet></router-outlet>