<h1 align="center">Products</h1>
    <div align="center">
        <table class="table table-striped table-bordered">
            <tr>
                <th>Product Id</th>
                <th>Name</th>
                <th>Rate</th>
                <th>Action</th>
               
            </tr>
            <tr *ngFor="let product of allproducts;">
                <td>{{product.productId}}</td>
                <td>{{product.productName}}</td>
                <td>{{product.productRate}}</td>
                <td>
                    <button (click)="updateProduct(product)" style="margin-left: 10px;" class="btn btn-warning btn-sm">Update</button>
                    <button (click)="deleteProduct(product)" style="margin-left: 10px;" class="btn btn-danger btn-sm">Delete</button>
    
                </td>
                
            </tr>
        </table>
       
       <br>
       <br>
       <a class="btn btn-success" routerLink ='/editproduct'>Add Product</a>

       
        


    </div>